<h1>Bienvenido  {{nombre}}</h1>
Me llamo {{nombre}} y tengo {{edad}} años


{% set edad = 42 %}

<p> Tu edad es {{edad}}</p>

{{dump(paises)}}

<p>
{% if edad <= 18 %}
    es menor de edad
{% else %}
    es mayor de edad
{% endif %}
</p>

<h3>Países</h3>

<ul>
{% for pais in paises %}
    <li>Nombre: {{pais.nombre}} | ID: {{pais.id}}</li>
{% endfor %}
</ul>